:root {
    --dark-color: #263e4e;
    --light-color: #445e67;
    --primary-color: #ab5522;
    --secondary-color: #74745b;
    --third-color: #be8343;
}

#cien-logo {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    color: var(--third-color);
}

body {
    background-color: var(--light-color);
    color: whitesmoke;
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
    padding-right: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: .75;
}


footer .social>a:hover {
    opacity: .9;
    color: var(--third-color);
}

.logo {
    width: 2rem;
}

.icon {
    color: var(--secondary-color);
    opacity: .75;
}

.btn-outline-dark {
    color: whitesmoke;
    background-color: var(--third-color);
    border-color: var(--dark-color);
}

.checklist>li i {
    color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}